*{  
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
.ref{
    height: 550px;
    width: 100%;
    background-color: rgb(125, 125, 205);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;

    
}
h1{
    font-size: 80px;
    color: red;
}
#inc{
    height: 50px;
    width: 150px;
    background-color: rgb(0, 255, 213);
    font-size: 35px;
    cursor: pointer;
    position: relative;
    z-index: 9;
}
#dec{
    height: 250px;
    width: 350px;
    background-color: blueviolet;
    font-size: 35px;


}
#inc:active {
    background-color: crimson;
    scale: 0.5;
}
