*{  
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;

}
main{
   width: 100%; 
   height: 100%;
   background-color: #0F231E;
   display: flex;
   justify-content: center;
   align-items: center;
}
.full{
    width: 500px;
    height: 240px;
    background-color: white;
    font-size: 12px;
    border-radius: 40px;
    padding: 20px 25px;
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
}
.upper{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: 1px solid black;
    
    background-color: white;
}
.unline{
    width: 50%;
    height: 30px;
    border-radius: 20px;
    background-color: green;
}
.down{
    width: 100%;
    height: 100px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.down button{
    font-size: 25px;
    height: 35px;
    width: 120px;
    background-color: green;
}
    